[class^="icon-"], [class*=" icon-"] {
	@extend %icomoon;
}

.anim {
	@extend %anim--medium;
	animation-delay: 500ms;
	will-change: transform, opacity;
	
	&--up {
		opacity: 0;
		transform: translateY(50px);
		
		&.anim--loaded {
			opacity: 1;
			transform: translateY(0);
		}
	}
	
	&--left {
		opacity: 0;
		transform: translateX(-50px);
		
		&.anim--loaded {
			opacity: 1;
			transform: translateX(0);
		}
	}
	
	&--fadein {
		opacity: 0;
		
		&.anim--loaded {
			opacity: 1;
		}
	}
}

.no-overflow {
	overflow: hidden;
}

.u-cols {
	@media screen and ( min-width: $tablet + 1px ) {
		column-count: 2;
		column-gap: 40px;
	}

	@media screen and ( min-width: $smartphone + 1px ) and ( max-width: $tablet + px ) {
		text-align: center;
	}

}


.u-align-center {
	text-align: center;
}

.u-pull-left {
	
	@media screen and ( min-width: $laptop + px ) {
		float: left;
		margin: {
			right: 120px;
			left: 120px;
		}
	}
	
}

.u-pull-right {

	@media screen and ( min-width: $laptop + px ) {
		float: right;
		margin: {
			right: 120px;
			left: 120px;
		}
	}
}

.u-navfixed {
	
	@media screen and ( min-width: $tablet_portrait + 1px ) {
		padding-top: 70px;
	}
}


.u-logo {
	height: 100%;
	background: {
		image: url(../img/logo-domazur--crown.png);
		position: center;
		repeat: no-repeat;
	}
	
}