.icon-arrow--left:before {
  content: "\e900";
}
.icon-arrow--right:before {
  content: "\e902";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-e-mail:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-featured:before {
  content: "\e906";
}
.icon-google:before {
  content: "\e907";
}
.icon-Instagram:before {
  content: "\e908";
}
.icon-loop:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90f";
}
.icon-pinterest:before {
  content: "\e910";
}
.icon-twitter:before {
  content: "\e913";
}
.icon-youtube:before {
  content: "\e915";
}
