.o-section {
	@extend %clear;
	margin-bottom: 130px;
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		margin-bottom: 70px;
	}
	
	&--nobottommargin {
		margin-bottom: 0;
	}
	
	&--boxes {
		margin-bottom: 70px;
	}
}