.c-article {
	line-height: 1.6;
	font-size: rem(15);
	color: $c-gray-5;
	
	a {
		&:hover {
			color: white;
		}
	}
	
	header {
		@media screen and ( min-width: $laptop + px ) {
			padding: 0 160px;
			margin-bottom: 60px;
		}
	}

	img {
		border: 1px solid $c-gray-3;
		
		padding: 10px;
		
		@media screen and ( min-width: $laptop + px ) {
			margin: {
				top: 120px;
				bottom: 140px;
			}
		}
		
		@media screen and ( max-width: $laptop + px ) {
			margin: 40px auto;
		}
	}
	
	h2, h3, h4 {
		color: white;
	}
	
	h2 {
		@extend %font-serif;
		line-height: 1.2;
		font-size: rem(30);
	}
	
	h3, h4 {
		font-size: rem(18);
	}
	
	h3 {
		text-transform: uppercase;
	}
	
	h5 {
		margin-bottom: 1.5rem;
		font-size: rem(16);
	}
	
	p {
		margin-bottom: 2rem;
	}
	
	ul {
		margin-bottom: 2rem;
		padding-left: 20px;
	
		li {
			&:before {
				content: '- ';
			}
		}
	}
}