.c-contactform {
	background-color: white;
	margin-bottom: 130px;
	padding: 50px 0;
	color: black;
	
	&__content {
		width: 945px;
		margin: 0 auto;
	}
	
	&__title,
	&__subtitle {
		@extend %font-serif;
	}

	
	&__title {
		margin-bottom: 1rem;
		font-size: rem(30);		
	}
	
	&__subtitle {
		margin-bottom: 2rem;
		color: $c-gray-6;
	}

}