.c-details {
	@extend %clear;

	.c-description__amount {
		font-size: rem(24);
		color: $c-orange-1;
	}

	&__col {
		@media screen and ( min-width: $laptop + px ) {
			float: left;
			width: 50%;
			
			&--description {
				width: 675px;
			}
		}
	}
	
	.c-article {
		ul {
			padding-left: 0;
		}
	}
	
	.c-description {

		@media screen and ( min-width: $laptop + px ) {
			padding-left: 80px;
		}

		&--mobile {
			margin-bottom: 40px;
			text-align: center;
			
			@media screen and ( min-width: $laptop + px ) {
				display: none;
			}
			
			.c-description__row--cta {
			    justify-content: center;
			}
		}
	}
	
	.gallery-thumbs {
		.swiper-slide {
			opacity: 1;
			cursor: pointer;
		}
	
		.swiper-slide-active {
			background-color: $c-orange-1;

			img {
				opacity: .3;
			}
		}
	}

	.swiper-container {
		margin-bottom: 10px;
	}
	
	.swiper-button {
		@extend %gradient;
		width: 55px; height: 55px;
		text-align: center;
		line-height: 55px;
		font-size: rem(26);
			
		&:after,
		&:before {
			transition: none;
			transform: none;
		}
		
		&:active {
			opacity: .9
		}
		
		&.swiper-button-disabled {
			background: rgba(white, .1);
		}
	}
	
	.swiper-arrows {
		@extend %flex;
		@extend %flex-spacebetween;
	}
}


