.c-details {
	@extend %clear;

	.c-description__amount {
		font-size: rem(24);
		color: $c-orange-1;
	}

	&__col {
		@media screen and ( min-width: $laptop + px ) {
			float: left;
			width: 50%;
			
			&--description {
				width: 675px;
			}
		}
	}
	
	.c-article {
		ul {
			padding-left: 0;
		}
	}
	
	.c-description {

		@media screen and ( min-width: $laptop + px ) {
			padding-left: 80px;
		}

		&--mobile {
			margin-bottom: 40px;
			text-align: center;
			
			@media screen and ( min-width: $laptop + px ) {
				display: none;
			}
			
			.c-description__row--cta {
			    justify-content: center;
			}
		}
	}
}


