.c-featured {

	&__item {

		@media screen and ( min-width: $tablet_portrait + 1px ) {
			display: flex;
			align-items: center;
			width: 50%;
			min-height: 506px;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			margin-bottom: 40px;
		}
		
		&--description {
			@media screen and ( min-width: $tablet_portrait + 1px ) {
				max-width: 740px;
			}
		}
		
		&--photo {
			@extend %rel;
			overflow: hidden;
			
			img {
				@media screen and ( min-width: $tablet_portrait + 1px ) {
					position: absolute;
					top: 0; right: 0;
					width: auto;
					max-width: none;
					height: 100%;
				}
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				margin-bottom: 40px;
			}
		}
	}
	
	&__lead {
		@extend %font-serif;
		line-height: 1.2;
		font-size: rem(30);
	}	
	
	&__row {
	
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			display: flex;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			max-width: 512px;
			margin: 0 auto;
		}
		
		&:nth-child(odd) {
			border-top: 1px solid $c-gray-3;

			.c-featured__item {
				
				@media screen and ( min-width: $laptop + 1px ) {
					padding-left: 115px;
				}
				
				@media screen and ( min-width: $tablet_portrait + 1px ) and ( max-width: $laptop + px ) {
					padding-left: grid(115, $laptop);
				}	

				&--description {
					padding-right: 20px;
					
					@media screen and ( max-width: $laptop + px ) {
						padding-right: 40px;
					}
				}
			}
			
			.c-featured__item--photo {
				margin-top: -1px;
			}
			
			.c-description__row--cta {
				.o-btn {
					margin-right: 25px;
				}
			}
			
			.c-description__row--description {
				&:after {
					left: 0;
				}
			}
		}
		
		&:nth-child(even) {
			flex-direction: row-reverse;
			border-bottom: 1px solid $c-gray-3;
			text-align: right;
			
			.c-featured__item {

				@media screen and ( min-width: $laptop + 1px ) {
					padding-right: 115px;
				}
				
				@media screen and ( min-width: $tablet_portrait + 1px ) and ( max-width: $laptop + px ) {
					padding-right: grid(115, $laptop);
				}
				
				&--description {
					padding-left: 20px;
					
					@media screen and ( max-width: $laptop + px ) {
						padding-left: 40px;
					}
				}
			}
			
			.c-description__row--cta {
				justify-content: flex-start;
				flex-direction: row-reverse;
				
				.o-btn {
					margin-left: 25px;
				}
			}
			
			.c-description__row--description {
				&:after {
					right: 0;
				}
			}
			
			.c-description__row--details {
				> div {
					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}
	}
}
