.c-form {
	&__row {
		margin-bottom: 20px;

		&--submit {
			padding-top: 35px;
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				text-align: center;
			}
		}
	}
	
	&__field {
		height: 50px;
		background-color: $c-gray-7;
		padding: 0 20px;
		font-size: rem(16);

		&--textarea {
			height: 160px;
			padding: 20px;
		}
	}
	
	&__wrap {
		@extend %rel;
	}
	
	label {
		display: block;
		margin-bottom: 10px;
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $c-gray-6;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: $c-gray-6;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: $c-gray-6;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $c-gray-6;
	}
}