.c-gallery {
	@media screen and ( max-width: $laptop + px ) {
		margin-bottom: 70px;
	}
	
	@media screen and ( max-width: $smartphone + px ) {
		width: calc(100% + 40px);
		position: relative;
		margin: {
			left: -20px;
			right: -20px;
		}
	}

    .gallery-thumbs {
		.swiper-slide {
			width: 25%;
			height: 100%;
			opacity: 1;
			cursor: pointer;
		}
	
		.swiper-slide-active {
			background-color: $c-orange-1;

			img {
				opacity: .3;
			}
		}
	}

	.swiper-container {
		margin-bottom: 10px;
	}
	
	.swiper-button {
		width: 55px; height: 55px;
		text-align: center;
		line-height: 55px;
		font-size: rem(26);
		cursor: pointer;
			
		&:after,
		&:before {
			//transition: none;
			//transform: none;
		}
		
		&:active {
			opacity: .9
		}
		
		&.swiper-button-disabled {
			background: rgba(white, .1);
		}
	}
	
	.swiper-arrows {
		@extend %flex;
		@extend %flex-spacebetween;
	}
}