.c-gallery {
	@media screen and ( max-width: $laptop + px ) {
		margin-bottom: 70px;
	}
	
	@media screen and ( max-width: $smartphone + px ) {
		width: calc(100% + 40px);
		position: relative;
		margin: {
			left: -20px;
			right: -20px;
		}
	}
	
	.gallery-thumbs .swiper-slide {
		width: 25%;
		height: 100%;
    }
}