.c-lang {
	@extend %rel;
	
	@media screen and ( min-width: $tablet_portrait + 1px ) {
		width: 45px;
		display: inline-block;
		margin-top: -1px;
		vertical-align: middle;
		cursor: pointer;
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		padding-left: 30px;
	}

	.c-flags--current {
	
		@media screen and ( max-width: $tablet_portrait + px ) {
			display: none;
		}
	
		&:after {
			@extend %abs;
			right: 7px; top: 6px;
			font-family: $icons;
			font-size: rem(9);
			content: "\e901";
			color: $c-orange-1;
		}
	}
	
	&__current {
		display: inline-block;
		width: 16px;
		height: 12px;
	}
}
