.c-lang {
	@extend %rel;
	width: 45px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	
	.c-flags--current {
		&:after {
			@extend %abs;
			right: 7px; top: 6px;
			font-family: $icons;
			font-size: rem(9);
			content: "\e901";
			color: $c-orange-1;
		}
	}
	
	&__current {
		display: inline-block;
		width: 16px;
		height: 12px;
	}
}
