.c-nav {
	
	&--footer {
		li {
			margin-bottom: 10px;
			
			a {
				&:hover {
					color: white;
				}
			}
		}
	}
	
	&--follow {
		li {
			display: inline-block;
			margin-right: 20px;
			font-size: rem(18);
		}
		
		@media screen and ( max-width: $tablet + px ) {
			
		}
	}
	
	&--top {
		@extend %abs;
		left: 0;
		top: 125px;
		width: 100%;
		border-top: 1px solid $c-gray-3;
		
		@media screen and ( max-width: $laptop + px ) {
			left: 40px;
			top: 105px;
			width: calc(100% - 80px);
		}
		
		li {
			float: left;
			margin-right: 45px; 
			
			@media screen and ( max-width: $tablet + px ) {
				margin-right: 20px;
			}
	
			a {
				display: block;
				padding: 26px 0;
				text-transform: uppercase;
				font-size: rem(18);
				line-height: 1;
				color: white;
				
				@media screen and ( max-width: $tablet + px ) {
					padding: 15px 0;
					font-size: rem(16);
				}
				
				
				&:hover {
					opacity: .5;
				}
			}			
		}
	}
	
	.is-active {
		a {
			opacity: 1 !important;
			color: $c-orange-1 !important;
		}
	}
}