.c-partners {

	@media screen and ( max-width: $smartphone + px ) {
		padding-top: 25px;
	}
	
	.swiper

	&__item {
		//width: 240px;
		
		img {
			margin: 0 auto;
		}

		@media screen and ( min-width: $tablet + 1px )  and ( max-width: $laptop + px ) {
			//width: grid(240, $laptop);
		}
	}
	
	.swiper-pagination {
		padding-top: 40px;
	}
}
