.c-toolbar {
	color: $c-gray-2;
	
	@media screen and ( min-width: $tablet_portrait + 1px ) {
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
	}

	@media screen and ( max-width: $tablet_portrait + px ) {
		padding: 15px 30px;
	}

	&__item {
		@extend %flex;
		
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			float: left;
			margin-right: 30px;
		}		
		
		i {
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
			font-size: rem(22);
			color: $c-orange-1;
		}

		&--email {
			@media screen and ( min-width: $tablet_portrait + 1px) and ( max-width: 940px ) {
				display: none;
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				margin-bottom: 20px;
			}
		}
	}
	
	&__phones {
		@extend %flex;
		
		@media screen and ( max-width: $tablet + px ) {
		    flex-direction: column;
		}
	}
	
	&__phone {
		@media screen and ( min-width: $tablet + 1px ) {
			&:first-of-type {
				&:after {
					margin-right: 4px;
					content: ' / ';
				}
			}
		}
	}

	a {
		&:hover {
			@media screen and ( min-width: $tablet_portrait + 1px ) {
				color: white;
				
				&:after {
					color: $c-gray-1;
				}
			}
		}
	}
}