.c-toolbar {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	color: $c-gray-2;
	
	&__item {
		@extend %flex;
		float: left;
		margin-right: 30px;
		
		i {
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
			font-size: rem(22);
			color: $c-orange-1;
		}
	}
	
	&__phones {
		@extend %flex;
		
		@media screen and ( max-width: $tablet + px ) {
		    flex-direction: column;
		}
	}
	
	&__phone {
		@media screen and ( min-width: $tablet + 1px ) {
			&:first-of-type {
				&:after {
					margin-left: 2px;
					content: '/';
				}
			}
		}
	}

	a {
		&:hover {
			color: white;
			
			&:after {
				color: $c-gray-1;
			}
		}
	}
}