.c-top {
	height: 200px;
	
	@media screen and ( max-width: $tablet + px ) {
		height: 155px;
	}
	
	&__toolbar {
		@extend %abs; z-index: 10;
		right: 0; top: 48px;
		
		@media screen and ( max-width: $laptop + px ) {
			right: 40px;
		}
		
		@media screen and ( max-width: $tablet + px ) {
			top: 30px;
		}
	}
}

