// Colors


$c-black:		#222;

$c-gray-1:		#a3a2a2;
$c-gray-2:		#a2a7af;
$c-gray-3:		#3e3e3e;
$c-gray-4:		#f7f7f8;
$c-gray-5:		#a1a6b1;
$c-gray-6:		#a8adb8;
$c-gray-7:		#f8f8f8;

$c-orange-1:	#d78034;

/*

$c-gray:	#bebebe;
$c-gray2:	#d4d4d2;

$c-red:			#FF3640;



$c-gray-1:	#4E4E4E;
$c-gray-2:	#581818;
$c-gray-3:	#D6D6D6;
$c-gray-4:	#2B2B2B;
$c-gray-5:	#959595;
$c-gray-6:	#F0F0F0;
$c-gray-7:	#B1B1B1;
$c-gray-8:	#465455;
$c-gray-9:	#E5E5E5;
$c-gray-10:	#95989A;
$c-gray-11:	#141414;

$c-red-1:	#FF9D86;
$c-red-2:	#F83663;
$c-red-3:	#BC1F1F;
$c-red-4:	#983030;
$c-red-5:	#CC0C38;
$c-red-6:	#FC7177;
$c-red-7:	#FC0B15;
*/
